*.[aod]
*.DS_Store
.DS_Store
*Thumbs.db
*.keystore
.flowconfig
.watchmanconfig
/**/npm-debug.log
node_modules
/**/*.iml
/**/build
/**/*xcshared*
/**/*xcuserdata*
/**/.svn
/**/public
/**/.gradle
/resource
/server/doc/github
/appServer
/server/dist/*
!/server/dist/package.json
/效果图
download
*.idea
local.properties
/server/project/test/utils/data/*.json
