.value {
    font-size: 16px;
    color: #666;
}
.unit {
    margin-left: 10px;
    font-size: 14px;
    color: #CD2626;
}
.iconButtonContainer {
    display: flex;
    align-items: center;
    height: 30px;
}
.iconButton {
    transform: scale(0.6);
}
